# Server

PORT=8080


# Subscription upstream

SUBSCRIPTION_UPSTREAM=https://example.com/sub


# Telegram

TELEGRAM_ENABLE=false

TELEGRAM_BOT_TOKEN=

TELEGRAM_CHAT_ID=


# Security

MAX_IP_CHANGE=10

BLACKLIST_ENABLE=true
